body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: rgb(12, 173, 109);
}

h2 {
  text-align: center;

  margin-bottom: 20px;
}

h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 80px;
  background-color: rgb(12, 173, 109);
  margin: 10px auto 0;
  border-radius: 2px;
}

p {
  color: #333;
  width: 95%;
}

a {
  color: rgba(157, 255, 0, 0.794);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  text-align: left;
  padding-bottom: 20px;

  height: 90vh;
}
.hero-content > p {
  padding: 0px 20px;
}
.hero-content {
  max-width: 100vw;
  height: 470px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.hero-content > div {
  width: 100%;
  height: 80%;
}
.hero-content > div > img {
  width: 100%;
  height: 100%;
}
.hero-content > h2 {
  margin-top: 60px;
}

.logo {
  max-width: 290px;
  padding: 15px;
}

.btn-primary {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
}

.btn-primary:hover {
  background-color: orange;
  text-decoration: none;
}

.advantages {
  padding: 40px 20px;
  text-align: center;
}
.advantages > h2 {
  margin-top: 10px;
}

.advantage-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  margin: auto;
}

.card {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.card > p {
  text-align: justify;
  margin-top: -10px;
}
#card1 {
  border-right: 1px solid rgb(201, 201, 201);
}
#card3 {
  border-right: 1px solid rgb(201, 201, 201);
}

.Home-loan {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.Home-loan > .button {
  padding: 15px;
  background-color: rgb(12, 173, 109);
  color: white;
  text-align: center;
}
.Home-loan-msg {
  background-color: rgba(127, 255, 212, 0.237);
}
.Home-loan-msg > p {
  padding: 20px 70px 20px 70px;
  margin-left: 10px;
  padding-left: 20px;
}

.testimonials {
  text-align: center;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1.5fr;
  max-width: 1200px;
  margin: auto;
}

blockquote {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-style: italic;
  align-items: center;
}
blockquote > img {
  width: 55%;
  height: 30%;
  border-radius: 100%;
}
blockquote > cite {
  color: rgb(12, 173, 109);
}
#midtestimonias > img {
  width: 30%;
}

.footer {
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 40px;
  border-top: 1px solid rgb(12, 173, 109);
}

.social-media {
  margin-bottom: 26px;
  text-align: left;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.social-media a img {
  width: 30px;
  height: 30px;
  margin: 0;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.social-media a img:hover {
  transform: scale(1.2);
}

.footer-text {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.footer > .footer-text > p {
  margin: 10px 0;
  line-height: 1.6;
  text-align: justify;
}

.footer a {
  color: rgb(97, 97, 97);
  transition: color 0.3s ease;
  text-decoration: underline;
}

.footer a:hover {
  color: rgb(12, 173, 109);
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: color 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 30px;
  }

  .social-media a img {
    width: 40px;
    height: 40px;
  }

  .footer-text {
    font-size: 13px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px;
  }

  .social-media {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .social-media a img {
    width: 30px;
    height: 30px;
  }

  .footer-text {
    font-size: 13px;
    padding: 0 10px;
  }

  .footer a {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 15px;
  }

  .social-media a img {
    width: 24px;
    height: 24px;
  }

  .footer-text p {
    font-size: 12px;
    text-align: left;
    display: inline-block;
  }
  #midtestimonias > img {
    width: 55%;
    height: 25%;
  }
  #starttestimonias > img {
    width: 50%;
    height: 35%;
  }
  #lasttestimonias > img {
    width: 55%;
    height: 35%;
  }

  .footer-links a {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .advantage-cards,
  .testimonials-grid {
    grid-template-columns: 1fr;
  }

  .hero-image {
    margin-bottom: 10px;
  }
  blockquote > img {
    width: 35%;
    height: 55%;
    border-radius: 100%;
  }
}

@media (max-width: 480px) {
  .hero-content {
    height: 650px;
  }
  .bank-logo {
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 150px;
  }
  .hero-content > .hero-container {
    width: 100%;
    height: 100%;
    background-image: url("./assets//mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-content > div > img {
    display: none;
  }
  .hero-content > h1 {
    text-align: center;
  }

  .hero-content > p {
    text-align: justify;
    width: 80%;
  }

  header {
    height: auto;
  }
  #midtestimonias {
    padding-bottom: 20px;
  }
  .Home-loan {
    padding: 20px;
  }
  blockquote > img {
    width: 75%;
    height: 35%;
    border-radius: 100%;
  }
  #card1 {
    border-right: none;
  }
  #card3 {
    border-right: none;
  }
  .card {
    border-bottom: 1px solid rgb(219, 219, 219);
  }
  .advantage-cards {
    gap: 0;
  }

  .Home-loan-msg > p {
    padding: 2px;
  }

  p {
    font-size: 0.9em;
  }
  .footer {
    padding: 15px;
  }

  .social-media a img {
    width: 24px;
    height: 24px;
  }
}
